#DAnimacao1{
  position:absolute; 
  top: 556;
  left: 733;
  width: 58;
  height: 33;
     z-index: 3; 
  visibility: hidden; 
}
#DAnimacao2{
  position:absolute; 
  top: 4;
  left: 762;
  width: 35;
  height: 35;
     z-index: 3; 
  visibility: hidden; 
}
#DSoltar1{
  position:absolute; 
  top: 370;
  left: 614;
  width: 116;
  height: 29;
  z-index: 4; 
}
#DSoltarRot1{
  position: absolute; 
  left: 619; 
  top: 378; 
  width: 111; 
  font-size: 8px; 
  font-family: MS Sans Serif; 
  z-index: 4; 
  text-Align: center;
}
.DArrastar1 {
  position: absolute; 
  top: 515;
  left: 254;
  width: 116;
  height: 31;
  z-index: 5; 
}
#DSoltar2{
  position:absolute; 
  top: 375;
  left: 371;
  width: 116;
  height: 29;
  z-index: 4; 
}
#DSoltarRot2{
  position: absolute; 
  left: 376; 
  top: 383; 
  width: 111; 
  font-size: 8px; 
  font-family: MS Sans Serif; 
  z-index: 4; 
  text-Align: center;
}
.DArrastar2 {
  position: absolute; 
  top: 557;
  left: 79;
  width: 116;
  height: 31;
  z-index: 5; 
}
#DSoltar3{
  position:absolute; 
  top: 364;
  left: 99;
  width: 116;
  height: 29;
  z-index: 4; 
}
#DSoltarRot3{
  position: absolute; 
  left: 104; 
  top: 372; 
  width: 111; 
  font-size: 8px; 
  font-family: MS Sans Serif; 
  z-index: 4; 
  text-Align: center;
}
.DArrastar3 {
  position: absolute; 
  top: 560;
  left: 253;
  width: 116;
  height: 31;
  z-index: 5; 
}
#DSoltar4{
  position:absolute; 
  top: 180;
  left: 109;
  width: 116;
  height: 29;
  z-index: 4; 
}
#DSoltarRot4{
  position: absolute; 
  left: 114; 
  top: 188; 
  width: 111; 
  font-size: 8px; 
  font-family: MS Sans Serif; 
  z-index: 4; 
  text-Align: center;
}
.DArrastar4 {
  position: absolute; 
  top: 560;
  left: 429;
  width: 116;
  height: 31;
  z-index: 5; 
}
#DSoltar5{
  position:absolute; 
  top: 177;
  left: 370;
  width: 116;
  height: 29;
  z-index: 4; 
}
#DSoltarRot5{
  position: absolute; 
  left: 375; 
  top: 185; 
  width: 111; 
  font-size: 8px; 
  font-family: MS Sans Serif; 
  z-index: 4; 
  text-Align: center;
}
.DArrastar5 {
  position: absolute; 
  top: 514;
  left: 431;
  width: 116;
  height: 31;
  z-index: 5; 
}
#DSoltar6{
  position:absolute; 
  top: 174;
  left: 601;
  width: 116;
  height: 29;
  z-index: 4; 
}
#DSoltarRot6{
  position: absolute; 
  left: 606; 
  top: 182; 
  width: 111; 
  font-size: 8px; 
  font-family: MS Sans Serif; 
  z-index: 4; 
  text-Align: center;
}
.DArrastar6 {
  position: absolute; 
  top: 511;
  left: 78;
  width: 116;
  height: 31;
  z-index: 5; 
}
.DImagemEfeito1{
  position:absolute; 
  top: 98;
  left: 627;
  width: 79;
  height: 67;
     z-index: 1; 
}
.DImagemEfeito2{
  position:absolute; 
  top: 101;
  left: 390;
  width: 79;
  height: 67;
     z-index: 1; 
}
.DImagemEfeito3{
  position:absolute; 
  top: 104;
  left: 130;
  width: 79;
  height: 67;
     z-index: 1; 
}
.DImagemEfeito4{
  position:absolute; 
  top: 293;
  left: 635;
  width: 79;
  height: 67;
     z-index: 1; 
}
.DImagemEfeito5{
  position:absolute; 
  top: 299;
  left: 389;
  width: 79;
  height: 67;
     z-index: 1; 
}
.DImagemEfeito6{
  position:absolute; 
  top: 289;
  left: 119;
  width: 79;
  height: 67;
     z-index: 1; 
}
.DGroupRotulo1{
  position: absolute;
  top: 16;
  left: 113;
  width: 622.666666666667;
  height: 42;
  overflow: hidden; 
  font-size: 20px; 
 z-index: 3;
}
