#DAnimacao1{
  position:absolute; 
  top: 556;
  left: 733;
  width: 58;
  height: 33;
     z-index: 3; 
  visibility: hidden; 
}
#DAnimacao2{
  position:absolute; 
  top: 4;
  left: 762;
  width: 35;
  height: 35;
     z-index: 3; 
  visibility: hidden; 
}
#DPreenchimento1{
  position: absolute; 
  top: 373;
  left: 27;
  widt: 127;
  height: 35;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento2{
  position: absolute; 
  top: 440;
  left: 26;
  widt: 127;
  height: 35;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento3{
  position: absolute; 
  top: 498;
  left: 26;
  widt: 127;
  height: 35;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento4{
  position: absolute; 
  top: 371;
  left: 236;
  widt: 127;
  height: 35;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento5{
  position: absolute; 
  top: 440;
  left: 235;
  widt: 127;
  height: 35;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento6{
  position: absolute; 
  top: 498;
  left: 235;
  widt: 127;
  height: 35;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento7{
  position: absolute; 
  top: 371;
  left: 449;
  widt: 127;
  height: 35;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento8{
  position: absolute; 
  top: 440;
  left: 452;
  widt: 127;
  height: 35;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento9{
  position: absolute; 
  top: 497;
  left: 454;
  widt: 127;
  height: 35;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento10{
  position: absolute; 
  top: 497;
  left: 645;
  widt: 127;
  height: 35;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento11{
  position: absolute; 
  top: 439;
  left: 642;
  widt: 127;
  height: 35;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento12{
  position: absolute; 
  top: 369;
  left: 640;
  widt: 127;
  height: 35;
  padding: 0; 
  z-index: 4; 
}
.DGroupRotulo1{
  position: absolute;
  top: 18;
  left: 208;
  width: 446.666666666667;
  height: 42;
  overflow: hidden; 
  font-size: 20px; 
 z-index: 3;
}
.DGroupRotulo2{
  position: absolute;
  top: 92;
  left: 60;
  width: 60.5333333333333;
  height: 34;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
.DGroupRotulo3{
  position: absolute;
  top: 180;
  left: 50;
  width: 86.5333333333333;
  height: 34;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
.DGroupRotulo4{
  position: absolute;
  top: 263;
  left: 47;
  width: 90.5333333333333;
  height: 34;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
.DGroupRotulo5{
  position: absolute;
  top: 92;
  left: 266;
  width: 54.5333333333333;
  height: 34;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
.DGroupRotulo6{
  position: absolute;
  top: 171;
  left: 253;
  width: 90.5333333333333;
  height: 34;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
.DGroupRotulo7{
  position: absolute;
  top: 261;
  left: 258;
  width: 86.5333333333333;
  height: 34;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
.DGroupRotulo8{
  position: absolute;
  top: 94;
  left: 490;
  width: 56.5333333333333;
  height: 34;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
.DGroupRotulo9{
  position: absolute;
  top: 170;
  left: 470;
  width: 103.533333333333;
  height: 34;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
.DGroupRotulo10{
  position: absolute;
  top: 263;
  left: 471;
  width: 95.5333333333333;
  height: 34;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
.DGroupRotulo11{
  position: absolute;
  top: 102;
  left: 668;
  width: 58.5333333333333;
  height: 34;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
.DGroupRotulo12{
  position: absolute;
  top: 170;
  left: 653;
  width: 95.5333333333333;
  height: 34;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
.DGroupRotulo13{
  position: absolute;
  top: 257;
  left: 656;
  width: 95.5333333333333;
  height: 34;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
