#DGifAnimado1{
  position:absolute; 
  top: 356;
  left: 330;
  width: 147;
  height: 202;
     z-index: 1; 
}
#DGifAnimado2{
  position:absolute; 
  top: 37;
  left: 552;
  width: 78;
  height: 126;
     z-index: 1; 
}
#DGifAnimado3{
  position:absolute; 
  top: 31;
  left: 58;
  width: 100;
  height: 85;
     z-index: 1; 
}
#DAnimacao1{
  position:absolute; 
  top: 521;
  left: 712;
  width: 79;
  height: 67;
     z-index: 3; 
  visibility: hidden; 
}
#DAnimacao2{
  position:absolute; 
  top: 524;
  left: 9;
  width: 79;
  height: 67;
     z-index: 3; 
  visibility: hidden; 
}
.DGroupRotulo1{
  position: absolute;
  top: 220;
  left: 132;
  width: 591.333333333333;
  height: 62;
  overflow: hidden; 
  font-size: 40px; 
 z-index: 3;
}
