#DAnimacao1{
  position:absolute; 
  top: 556;
  left: 733;
  width: 58;
  height: 33;
     z-index: 3; 
  visibility: hidden; 
}
#DAnimacao2{
  position:absolute; 
  top: 4;
  left: 762;
  width: 35;
  height: 35;
     z-index: 3; 
  visibility: hidden; 
}
#DPreenchimento1{
  position: absolute; 
  top: 283;
  left: 74;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento2{
  position: absolute; 
  top: 283;
  left: 352;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento3{
  position: absolute; 
  top: 319;
  left: 352;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento4{
  position: absolute; 
  top: 356;
  left: 352;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento5{
  position: absolute; 
  top: 393;
  left: 352;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento6{
  position: absolute; 
  top: 430;
  left: 352;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento7{
  position: absolute; 
  top: 467;
  left: 352;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento8{
  position: absolute; 
  top: 283;
  left: 552;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento9{
  position: absolute; 
  top: 319;
  left: 552;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento10{
  position: absolute; 
  top: 356;
  left: 552;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento11{
  position: absolute; 
  top: 393;
  left: 552;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento12{
  position: absolute; 
  top: 429;
  left: 552;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento13{
  position: absolute; 
  top: 465;
  left: 552;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento14{
  position: absolute; 
  top: 320;
  left: 74;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento15{
  position: absolute; 
  top: 357;
  left: 74;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento16{
  position: absolute; 
  top: 394;
  left: 74;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento17{
  position: absolute; 
  top: 431;
  left: 75;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento18{
  position: absolute; 
  top: 468;
  left: 75;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento19{
  position: absolute; 
  top: 505;
  left: 76;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento20{
  position: absolute; 
  top: 542;
  left: 77;
  widt: 186;
  height: 30;
  padding: 0; 
  z-index: 4; 
}
.DGroupRotulo1{
  position: absolute;
  top: 11;
  left: 46;
  width: 699;
  height: 92;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
.DGroupRotulo2{
  position: absolute;
  top: 117;
  left: 19;
  width: 768;
  height: 98;
  overflow: hidden; 
  font-size: 14px; 
 z-index: 3;
}
.DGroupRotulo3{
  position: absolute;
  top: 238;
  left: 89;
  width: 167;
  height: 34;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
.DGroupRotulo4{
  position: absolute;
  top: 236;
  left: 459;
  width: 167;
  height: 34;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
