#DAnimacao1{
  position:absolute; 
  top: 4;
  left: 762;
  width: 35;
  height: 35;
     z-index: 3; 
  visibility: hidden; 
}
#DAnimacao2{
  position:absolute; 
  top: 556;
  left: 733;
  width: 58;
  height: 33;
     z-index: 3; 
  visibility: hidden; 
}
.DImagemEfeito1{
  position:absolute; 
  top: 349;
  left: 10;
  width: 302;
  height: 241;
     z-index: 1; 
}
#DPreenchimento1{
  position: absolute; 
  top: 463;
  left: 563;
  widt: 49;
  height: 40;
  padding: 0; 
  z-index: 4; 
}
.DGroupRotulo1{
  position: absolute;
  top: 15;
  left: 10;
  width: 712;
  height: 325;
  overflow: hidden; 
  font-size: 16px; 
 z-index: 3;
}
.DGroupRotulo2{
  position: absolute;
  top: 463;
  left: 424;
  width: 131.666666666667;
  height: 42;
  overflow: hidden; 
  font-size: 20px; 
 z-index: 3;
}
.DGroupRotulo3{
  position: absolute;
  top: 4;
  left: 737;
  width: 25.2666666666667;
  height: 20;
  overflow: hidden; 
  font-size: 8px; 
 z-index: 3;
}
