#DGifAnimado1{
  position:absolute; 
  top: 458;
  left: 393;
  width: 244;
  height: 142;
     z-index: 1; 
}
#DAnimacao1{
  position:absolute; 
  top: 4;
  left: 762;
  width: 35;
  height: 35;
     z-index: 3; 
  visibility: hidden; 
}
#DAnimacao2{
  position:absolute; 
  top: 556;
  left: 733;
  width: 58;
  height: 33;
     z-index: 3; 
  visibility: hidden; 
}
#DBotaoMens1{
  position:absolute; 
  top: 146;
  left: 486;
  width: 147;
  height: 66;
     z-index: 2; 
  overflow: hidden; 
  border-style: outset; 
  border-width: 2; 
  background-color: #C0C0C0; 
  layer-background-color: #C0C0C0;
}
#DMensagemTrans1{
  position:absolute; 
  top: 146;
  left: 486;
  width: 147;
  height: 66;
     z-index: 2; 
}
#DPreenchimento1{
  position: absolute; 
  top: 358;
  left: 539;
  widt: 49;
  height: 40;
  padding: 0; 
  z-index: 4; 
}
.DGroupRotulo1{
  position: absolute;
  top: 298;
  left: 497;
  width: 131.666666666667;
  height: 42;
  overflow: hidden; 
  font-size: 20px; 
 z-index: 3;
}
.DGroupRotulo2{
  position: absolute;
  top: -2;
  left: 106;
  width: 287;
  height: 599;
  overflow: hidden; 
  font-size: 10px; 
 z-index: 3;
}
.DGroupRotulo3{
  position: absolute;
  top: 4;
  left: 737;
  width: 25.2666666666667;
  height: 20;
  overflow: hidden; 
  font-size: 8px; 
 z-index: 3;
}
