#DAnimacao1{
  position:absolute; 
  top: 556;
  left: 733;
  width: 58;
  height: 33;
     z-index: 3; 
  visibility: hidden; 
}
#DAnimacao2{
  position:absolute; 
  top: 4;
  left: 762;
  width: 35;
  height: 35;
     z-index: 3; 
  visibility: hidden; 
}
.DImagem1{
  position:absolute; 
  top: 236.133333333333;
  left: -10;
  width: 811;
  height: 127;
     z-index: 1; 
}
#DPreenchimento1{
  position: absolute; 
  top: 433;
  left: 385;
  widt: 142;
  height: 29;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento2{
  position: absolute; 
  top: 479;
  left: 385;
  widt: 142;
  height: 29;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento3{
  position: absolute; 
  top: 532;
  left: 385;
  widt: 142;
  height: 29;
  padding: 0; 
  z-index: 4; 
}
.DGroupRotulo1{
  position: absolute;
  top: 16;
  left: 8;
  width: 741;
  height: 110;
  overflow: hidden; 
  font-size: 24px; 
 z-index: 3;
}
.DGroupRotulo2{
  position: absolute;
  top: 419.333333333333;
  left: 332.333333333333;
  width: 44.2;
  height: 43;
  overflow: hidden; 
  font-size: 21px; 
 z-index: 3;
}
.DGroupRotulo3{
  position: absolute;
  top: 466.333333333333;
  left: 334.333333333333;
  width: 44.2;
  height: 43;
  overflow: hidden; 
  font-size: 21px; 
 z-index: 3;
}
.DGroupRotulo4{
  position: absolute;
  top: 519.333333333333;
  left: 337.333333333333;
  width: 44.2;
  height: 43;
  overflow: hidden; 
  font-size: 21px; 
 z-index: 3;
}
