#DGifAnimado1{
  position:absolute; 
  top: 348;
  left: 703;
  width: 86;
  height: 148;
     z-index: 1; 
}
#DAnimacao1{
  position:absolute; 
  top: 554;
  left: 704;
  width: 39;
  height: 37;
     z-index: 3; 
  visibility: hidden; 
}
#DAnimacao2{
  position:absolute; 
  top: 554;
  left: 750;
  width: 39;
  height: 37;
     z-index: 3; 
  visibility: hidden; 
}
#DPreenchimento1{
  position: absolute; 
  top: 246;
  left: 362;
  widt: 52;
  height: 28;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento2{
  position: absolute; 
  top: 359;
  left: 363;
  widt: 52;
  height: 28;
  padding: 0; 
  z-index: 4; 
}
#DPreenchimento3{
  position: absolute; 
  top: 481;
  left: 363;
  widt: 52;
  height: 28;
  padding: 0; 
  z-index: 4; 
}
